#aboutText {
    /*   background-color: yellow;  */
    grid-column: 4/-4;
}

.navcontainer {
    grid-column: 3/-3;
    padding-top: 15px;
}

#courseList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-column: 4/-4;
}

#courseList>li>p{
    margin: 3px;
    padding: 0;
}

#courseList>li {
    padding-top: 4px;
}