.projects {
    grid-column: 1/-1;
    grid-column-start: 1;
}

.introText {
    grid-column: 2/-2;
}

.introText h1{
    padding: 0;
    padding-top: 40px;
    margin: 0;
}

.introText p{
    padding: 10px;
    margin: 0;
}

.navcontainer {
    grid-column: 3/-3;
    padding-top: 15px;
}

.sepLine {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 25px auto 25px auto;
}

#backLink {
    color: #000080;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    margin-top: 20px;
    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #F9F8F8;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.card:hover .cardPhoto {
    transform: scale(1.1) rotate(1deg);
}

.card:hover .cardDetails {
    left: 0%;
}

.cardMeta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.cardPhoto {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.1s;
}

.cardDetails {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #F9F8F8;
    width: 100%;
    font-size: 1rem;
}

.cardDetails p{
    position: relative;
    top: 40%;
    transform: translateY(-60%);
}

.cardInfo {
    padding: 1rem;
    background: #F9F8F8;
    position: relative;
    z-index: 1;
    text-align: left;
}

.cardInfo h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.cardLinks {
    text-align: right;
}

.cardLink, .cardLink:visited, .cardLink:link {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 8px 8px;
    text-align: center;
    background-color: #000080;
    font-size: 0.9rem;
    border-radius: 1px;
}

.cardLink:active, .cardLink:hover {
    background-color: #0000b3;
}

.cardInfo p {
    position: relative;
    margin: 1rem 0 0;
}

.cardInfo p:first-of-type {
    margin-top: 1.4rem;
}

.cardInfo p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #000080;
    width: 35px;
    top: -0.65rem;
    border-radius: 3px;
}

@media (min-width: 640px) {
    .projects {
        grid-column: 3/-3;
        grid-column-start: 3;
    }

    .introText {
        grid-column: 4/-4;
    }

    .card {
        flex-direction: row;
        max-width: 700px;
    }

    .cardMeta {
        flex-basis: 40%;
        height: auto;
    }

    .cardInfo {
        flex-basis: 60%;
    }

    .cardInfo:before {
        transform: skewX(-3deg);
        content: "";
        background: #F9F8F8;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: -10px;
        z-index: -1;
    }

    .card.reverse {
        flex-direction: row-reverse;
    }

    .card.reverse .cardInfo:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
}