html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #000066;
  top: 0;
  padding-bottom: 10px;
}

.footer {
  width: 100%;
  background-color: #000066;
  bottom: 0;
  flex-shrink: 0;
  height: 10px;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

#main {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navcontainer>p {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
}

.navcontainer>p>a {
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;
}

.navcontainer>p>a:visited, .navcontainer>p>a:link {
  color: #161616;
}

.navcontainer>p>a:active {
  color: #515151;
}

.cleanLink {
  text-decoration: none;
}

.cleanLink:visited {
  color: #0539D7;
}

.cleanLink:link{
  color: #0539D7;
}

.cleanLink:hover {
  color: #002288;
}

.cleanLink:active {
  color: #002288;
}